{% extends 'base.html.twig' %}

{% block title %}Liste des offres
{% endblock %}

{% block body %}
	<div class="d-none d-lg-block">
		{% include 'navbar_lg_admin.html.twig' %}
	</div>

	<div class="d-block d-lg-none">
		{% include 'navbar_md_admin.html.twig' %}
	</div>
	<div class="container">

		<h1 class="mt-3">Liste des offres</h1>

		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Titre</th>
					<th>Annonce 1</th>
					<th>Annonce 2</th>
					<th>Annonce 3</th>
					<th>Description</th>
					<th>Image 1</th>
					<th>Image 2</th>
					<th>Image 3</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for product_offer in product_offers %}
					<tr>
						<td>{{ product_offer.id }}</td>
						<td>{{ product_offer.title }}</td>
						<td>{{ product_offer.message1 }}</td>
						<td>{{ product_offer.message2 }}</td>
						<td>{{ product_offer.message3 }}</td>
						<td>{{ product_offer.description }}</td>
						<td>{{ product_offer.image1 }}</td>
						<td>{{ product_offer.image2 }}</td>
						<td>{{ product_offer.image3 }}</td>
						<td>
							<a href="{{ path('app_product_offer_show', {'id': product_offer.id}) }}">voir</a>
							<a href="{{ path('app_product_offer_edit', {'id': product_offer.id}) }}">éditer</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="10">Pas d'offres trouvées</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a href="{{ path('app_product_offer_new') }}">Créer une nouvelle offre</a>

	</div>

{% endblock %}
