{% extends 'base.html.twig' %}

{% block title %}ProductOffer{% endblock %}

{% block body %}
    <h1>ProductOffer</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product_offer.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ product_offer.title }}</td>
            </tr>
            <tr>
                <th>Message1</th>
                <td>{{ product_offer.message1 }}</td>
            </tr>
            <tr>
                <th>Message2</th>
                <td>{{ product_offer.message2 }}</td>
            </tr>
            <tr>
                <th>Message3</th>
                <td>{{ product_offer.message3 }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product_offer.description }}</td>
            </tr>
            <tr>
                <th>Image1</th>
                <td>{{ product_offer.image1 }}</td>
            </tr>
            <tr>
                <th>Image2</th>
                <td>{{ product_offer.image2 }}</td>
            </tr>
            <tr>
                <th>Image3</th>
                <td>{{ product_offer.image3 }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_product_offer_index') }}">back to list</a>

    <a href="{{ path('app_product_offer_edit', {'id': product_offer.id}) }}">edit</a>

    {{ include('product_offer/_delete_form.html.twig') }}
{% endblock %}
