{% extends 'base.html.twig' %}

{% block title %}Profil
{% endblock %}

{% block body %}
	<div class="d-none d-lg-block">
		{% include 'navbar_lg_admin.html.twig' %}
	</div>

	<div class="d-block d-lg-none">
		{% include 'navbar_md_admin.html.twig' %}
	</div>
	<div class="container my-3">

		<h2 class="text-center">Mon profil</h2>
		<p class="text-center lead">Mes informations</p>

		<section class="container my-3">
			<div class="row">
				<div class="col">
					<h1>Modifier mon profil</h1>
					<div class="row">
						<div class="col-lg-3">Profil de :
							{{ first_name }}
							{{ last_name }}
						</div>
						<div class="col-lg-3">
							Statut :
							{{ role }}
						</div>
					</div>
					<br>
					<div class="col-lg-4">
						{{ form_start(registrationForm) }}
						{{ form_row(registrationForm.email) }}
						<div class="mt-2">
							{{ form_row(registrationForm.plainPassword, {
                    label: 'Mot de passe'
                }) }}
						</div>


						<button type="submit" class="btn btn-primary my-4">Enregistrer les changements</button>
						{{ form_end(registrationForm) }}
					</div>

				</div>
			</div>
		</section>

	</div>

{% endblock %}
