{% extends 'base.html.twig' %}

{% block title %}
  Index images
{% endblock %}

{% block body %}
  <div class="d-none d-lg-block">
    {% include 'navbar_lg_admin.html.twig' %}
  </div>

  <div class="d-block d-lg-none">
    {% include 'navbar_md_admin.html.twig' %}
  </div>
  <div class="mx-5 mt-3">
    <h1 class="mt-3">Index des fichiers images</h1>

    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>URL</th>
          <th>Taille</th>
          <th>Modifié le</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for image_file in image_files %}
          <tr>
            <td>{{ image_file.id }}</td>
            <td>
              {% set baseURL = 'https://127.0.0.1:8000' %}
              {# Base de l'URL #}
              {% set imageFile = image_file.imageName %}
              {# Nom du fichier MP3 #}

              {% set imageURL = baseURL ~ '/images/produits/' ~ imageFile %}
              {# Concaténation de l'URL #}

              {{ imageURL }}
            </td>
            <td>
              {% set fileSizeInBytes = image_file.imageSize %}
              {% set fileSizeInMegabytes = fileSizeInBytes / 1024 * 1024 %}
              {{ fileSizeInMegabytes|number_format(2) }}
              Mo
            </td>
            <td>{{ image_file.updatedAt ? image_file.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            <td>
              <a href="{{ path('app_image_file_show', { id: image_file.id }) }}" class="btn btn-primary">voir</a>
              <a href="{{ path('app_image_file_edit', { id: image_file.id }) }}" class="btn btn-warning">éditer</a>
            </td>
          </tr>
        {% else %}
          <tr>
            <td colspan="5">Pas d'images trouvées</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <p>
      <a href="{{ path('app_image_file_new') }}">Ajouter une nouvelle image</a>
      |
      <a href="{{ path('app_admin_page') }}">Revenir à l'accueil de l'administration</a>
    </p>
  </div>
{% endblock %}
