{% extends 'base.html.twig' %}

{% block title %}
  Industrie
{% endblock %}

{% block body %}
  <div class="bandeau-promo">
    {% if product_offer is not null %}
      <p>
        {{ product_offer.title }}
        -
        {{ product_offer.message1 }}
        -
        {{ product_offer.message2 }}
        -
        {{ product_offer.message3 }}
        -
        <a href="{{ path('app_product_offer_visitors', { slug: product_offer.slug }) }}">VOIR L'OFFRE</a>
      </p>
    {% else %}
      <p>Pas d'offre disponible pour le moment.</p>
    {% endif %}
  </div>
  <div class="d-none d-lg-block">
    {% include 'navbar_visitors_lg.html.twig' %}
  </div>

  <div class="d-block d-lg-none">
    {% include 'navbar_visitors_md.html.twig' %}
  </div>

  <div class="container mt-4 px-5">
    <h1 class="text-primary fw-bold text-center mb-5">INDUSTRIE</h1>
    <div class="row">
      <div class="col-lg-12 text-center">
        <p class="lead mb-4">L'installation des ventilateurs HVLS (High Volume, Low Speed) EVEL dans le secteur de l’industrie réduit les coûts énergétiques en même temps qu’il améliore le bien-être des opérateurs.</p>
        <p class="lead mb-4">La destratification de l’air assurée par son brassage participe au maintien d’une température uniforme des espaces, et permet d’éviter les changements thermiques nocifs aux équipements.</p>
        <p class="lead mb-4">Profitez des avantages d'une qualité d'air améliorée et d'un confort thermique accru.</p>
      </div>
    </div>
    <div class="row bg-light p-4 rounded shadow mb-5">
      <div class="col-lg-12">
        <h2 class="text-success fw-bold text-center">Type d'environnement</h2>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Installations industrielles</li>
          <li class="list-group-item">Ateliers</li>
          <li class="list-group-item">Centres de collecte et de stockage logistiques</li>
          <li class="list-group-item">Sites de stockage</li>
        </ul>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-lg-12">
        <h2 class="text-info fw-bold">Caractéristiques</h2>
        <p>Bâtiments avec des process homme/machine présentant des volumes importants et de hauts plafonds.</p>
      </div>
    </div>
    <div class="row bg-light p-4 rounded shadow mb-5">
      <div class="col-lg-12">
        <h2 class="text-warning fw-bold">Avantages</h2>
        <ul class="list-group">
          <li class="list-group-item">
            <span class="p_dark_blue">Ils réduisent la température perçue</span> (6°C en moins)
          </li>
          <li class="list-group-item">
            <span class="p_dark_blue">Ils réduisent</span> la prolifération des <span class="p_dark_blue">virus, bactéries et moisissures</span>
          </li>
          <li class="list-group-item">
            <span class="p_dark_blue">Ils empêchent la création de condensation</span> au sol
          </li>
          <li class="list-group-item">
            <span class="p_dark_blue">Réduire les temps d’arrêt des machines</span>
          </li>
          <li class="list-group-item">
            Ils augmentent la <span class="p_dark_blue">productivité</span> des opérateurs
          </li>
          <li class="list-group-item">
            <span class="p_dark_blue">Faible consommation</span> (moteur-onduleur embarqué)
          </li>
          <li class="list-group-item">
            <span class="p_dark_blue">Installation progressive</span>, sans investissements importants
          </li>
        </ul>
      </div>
    </div>
    <div class="mt-4 row">
      <div class="col-lg-6">
        <img src="{{ asset('images/produits/INDUSTRIE_PHOTO_1.jpg') }}" alt="" class="img-fluid rounded" />
      </div>
      <div class="col-lg-6">
        <img src="{{ asset('images/produits/INDUSTRIE_PHOTO_2.jpg') }}" alt="" class="img-fluid rounded" />
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-lg-6">
        <p>Dans le secteur industriel, il a été observé comment l'installation de ventilateurs HVLS EVEL améliore le bien-être des personnes dans leur environnement de travail. Assurer les meilleures conditions microclimatiques dans l'environnement de vie et de travail est essentiel pour contribuer au bien-être psychophysique de la personne : les variations de température au-delà des limites normales provoquent une souffrance des principales fonctions physiologiques avec des répercussions plus ou moins graves sur les capacités de travail.</p>
      </div>
      <div class="col-lg-6">
        <p>Outre l'environnement de travail et de production, l'espace réservé au stockage des produits doit également respecter certaines normes de qualité de l'air, de température et d'humidité pour le bon maintien de la marchandise. Lorsqu’il s’agit de produits périssables, d’aliments, mais aussi de substances chimiques, un brassage de l’air environnant évitera la formation d’odeurs et de moisissures.</p>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-lg-6">
        <p>L’un des nombreux défis liés à l’aménagement d’un nouvel espace de stockage, où se côtoient opérateurs et véhicules de manutention, est l’implantation adéquate d’un système de ventilation. Chaque zone nécessite une solution spécifique, tout aussi essentielle que l’éclairage ou l’organisation des espaces.</p>
      </div>
      <div class="col-lg-6">
        <p>Installer un ventilateur EVEL dans un environnement industriel permet de lutter efficacement contre la stratification de l'air, d'assurer une ventilation optimale et de réduire les coûts énergétiques.</p>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-lg-6">
        <p>Les ventilateurs HVLS EVEL, tout en garantissant une température uniforme dans l'environnement dans lequel ils sont installés, nous permettent également de faire face et de limiter le dangereux problème des changements brusques de température pour les équipements électroniques (qui subissent souvent des pannes dues à des changements excessifs de température).</p>
      </div>
    </div>
    <div class="mt-4">
      <img src="{{ asset('images/produits/INDUSTRIE_PHOTO_3.jpg') }}" alt="" class="img-fluid rounded" />
    </div>
    {# <div class="mt-4">
      <img src="{{ asset('images/produits/5-0m-cinepalmes-ste-marie-66c577315e278147400393.jpg') }}" alt="" class="img-fluid rounded" />
    </div> #}
  </div>

  {% include 'contact_bar.html.twig' %}
  <div class="d-none d-lg-block">
    {% include 'footer.html.twig' %}
  </div>

  <div class="d-block d-lg-none">
    {% include 'footer_md.html.twig' %}
  </div>
{% endblock %}
