{% extends 'base_admin.html.twig' %}

{% block title %}Index contact
{% endblock %}

{% block body %}
	<div class="d-none d-lg-block">
		{% include 'navbar_lg_admin.html.twig' %}
	</div>

	<div class="d-block d-lg-none">
		{% include 'navbar_md_admin.html.twig' %}
	</div>
	<div class="mx-5 mb-5">
		<h1>Index des formulaires de contact</h1>

		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nom</th>
					<th>E-mail</th>
					<th>Tel</th>
					<th>Demande</th>
					<th>RGPD</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for contact_form in contact_forms %}
					<tr>
						<td>{{ contact_form.id }}</td>
						<td>{{ contact_form.name }}</td>
						<td>{{ contact_form.email }}</td>
						<td>{{ contact_form.telelephone }}</td>
						<td>{{ contact_form.request }}</td>
						<td>
							{% if contact_form.RGPD == 1 %}
								accepté
							{% else %}
								...
							{% endif %}
						</td>
						<td>
							<a href="{{ path('app_contact_form_show', {'id': contact_form.id}) }}">voir</a>
							{# <a href="{{ path('app_contact_form_edit', {'id': contact_form.id}) }}">éditer</a> #}
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="6">pas de formulaires trouvés</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		{# <a href="{{ path('app_contact_form_new') }}">Créer un nouveau formulaire</a> #}
	</div>

{% endblock %}
