{# Listing des produits pour les visiteurs #}
{% extends 'base.html.twig' %}

{% block title %}
  Liste des Produits
{% endblock %}

{% block body %}
  <div class="bandeau-promo">
    {% if product_offer is not null %}
      <p>
        {{ product_offer.title }}
        -
        {{ product_offer.message1 }}
        -
        {{ product_offer.message2 }}
        -
        {{ product_offer.message3 }}
        -
        <a href="{{ path('app_product_offer_visitors', { slug: product_offer.slug }) }}">VOIR L'OFFRE</a>
      </p>
    {% else %}
      <p>Pas d'offre disponible pour le moment.</p>
    {% endif %}
  </div>
  <div class="d-none d-lg-block">
    {% include 'navbar_visitors_lg.html.twig' %}
  </div>

  <div class="d-block d-lg-none">
    {% include 'navbar_visitors_md.html.twig' %}
  </div>
  <div class="container mt-4">
    <h1 class="mb-4 text-center">Nos Produits de Ventilation</h1>

    <h2 class="mb-3">Ventilateurs HVLS</h2>
    <div class="row">
      <div class="col-md-6 mb-4">
        <img src="{{ asset('images/produits/ventilateur_hvls_brassair_la_reunion.jpg') }}" alt="" class="img-fluid rounded" />
      </div>
      <div class="col-md-6 mb-4 align-content-center ventilateurs-hvls-section rounded-1">
        <p class="mt-2 text-light text-center">Les ventilateurs HVLS plafonniers d’EVEL sont les plus performants du marché en termes de débit d’air et de niveau sonore. Nous nous engageons chez BRASS’AIR à répondre rapidement à vos demandes en vous proposant une étude personnalisée adaptée à votre projet et vos process. Forte de l'expertise de son équipe et de ses partenaires installateurs, BRASS’AIR saura intégrer parfaitement les ventilateurs à toutes les structures.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Série WZ</h4>

            <img src="{{ asset('images/produits/INDUS_AGROAL._WZ_brassair_la_reunion.jpg') }}" alt="" class="img-fluid rounded" />

            <p class="mt-2">La série WZ, équipée d'un moteur brushless avec inverseur intégré, offre une efficacité énergétique élevée et une faible consommation, un modèle adapté aux installations industrielles, commerciales et zootechniques pour assurer le bien-être des opérateurs, des clients, des visiteurs et des animaux de ferme.</p>
            <ul class="mt-2">
              <li>Dimensions de 2.50m à 7.0m de diamètre</li>

              <li>Consos élec. de 0.665 à 1.12 kW</li>

              <li>Débit d’air élevé</li>

              <li>Niveau sonore <45 dB(A)</li>
            </ul>

            <a href="{{ asset('pdfs/produits/HVLS_EVEL_WZ.pdf') }}" class="btn btn-success" download><i class="fa-regular fa-file-pdf"></i> Télécharger le PDF</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Série WD</h4>

            <img src="{{ asset('images/produits/ventilateurs_wd_brassair_la_reunion.jpg') }}" alt="" class="img-fluid rounded" />

            <p class="mt-2">La série WD d'EVEL offre un compromis idéal entre qualité et prix. Elle est dotée d'un moteur à aimant permanent, d'un inverseur intégré et peut être contrôlée à distance via un signal modbus. Le modèle utilise un profil de pales aérodynamique SELIG et se distingue par son silence, sa faible consommation et sa fiabilité.</p>
            <ul class="mt-2">
              <li>Dimensions de 2.50m à 5.0m de diamètre</li>

              <li>Consos élec. de 0.36 à 1.10 kW</li>

              <li>Débit d’air élevé</li>

              <li>Niveau sonore <60 dB(A)</li>
            </ul>

            <a href="{{ asset('pdfs/produits/HVLS_EVEL_WD.pdf') }}" class="btn btn-success" download><i class="fa-regular fa-file-pdf"></i> Télécharger le PDF</a>
          </div>
        </div>
      </div>
    </div>

    <hr />
    <h2 class="mb-3">Ventilateurs Mobiles</h2>
    <div class="row">
      <div class="col-md-6 mb-4">
        <img src="{{ asset('images/produits/MDN_TERRASSE_BRASSAIR_EVEL_LA_REUNION.jpg') }}" alt="" class="img-fluid rounded" />
      </div>
      <div class="col-md-6 mb-4 align-content-center ventilateurs-mobiles-section text-center">
        <p class="mt-2 text-light text-center">Les ventilateurs mobiles d’EVEL, portables et faciles à manipuler, sont conçus pour des applications variées dans les secteurs civils et industriels. Grâce à leur moteur inverter, ils offrent une faible consommation, un fonctionnement silencieux, et une installation facile. Montés sur quatre roues pneumatiques, ils se déplacent aisément sur tous types de terrains, rafraîchissant efficacement les environnements intérieurs et extérieurs.</p>
        <a href="{{ asset('pdfs/produits/VENTILATEURS_MOBILES.pdf') }}" class="btn btn-success" download><i class="fa-regular fa-file-pdf"></i> Télécharger le PDF</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">WA1400 FIT</h4>

            <img src="{{ asset('images/produits/ventilateurs_mobiles_WA_1400_FIT_brassair_la_reunion.jpg') }}" alt="" class="img-fluid rounded" />
            <p class="mt-2">Le modèle WA1400-FIT d'EVEL est conçu pour la flexibilité et la performance en ventilation. Il est adapté à divers secteurs tels que l'industrie, le commerce et l'élevage. Facile à déplacer avec son chariot et sans besoin d'installation, il se branche directement sur une prise. Disponible en versions monophasée et triphasée, il dispose d'un potentiomètre pour ajuster la vitesse et optimiser la consommation.</p>
            <ul class="mt-2">
              <li>Diam. 1,40m</li>

              <li>Ht totale 1,55m</li>

              <li>Mono ou Tri</li>
            </ul>

            <a href="{{ asset('pdfs/produits/WA_1400_FIT.pdf') }}" class="btn btn-success" download><i class="fa-regular fa-file-pdf"></i> Télécharger le PDF</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">MDN 1600</h4>

            <img src="{{ asset('images/produits/ventilateurs_mobiles_mdn1600_brassair_la_reunion.jpg') }}" alt="" class="img-fluid rounded" />
            <p class="mt-2">Le MDN1600 d'Evel est un ventilateur portable alliant haute performance et faible consommation. Équipé d'un moteur à aimant permanent avec inverseur intégré, il assure un fonctionnement silencieux et une vitesse réglable. Adapté aux secteurs sportifs, commerciaux, Ho.Re.Ca, industriels et agricoles, il se déplace facilement grâce à ses roues, offrant ainsi une grande flexibilité d'utilisation.</p>
            <ul class="mt-2">
              <li>Diam. 1,60m</li>

              <li>Ht totale 1,68m</li>

              <li>Mono ou Tri</li>
            </ul>

            <a href="{{ asset('pdfs/produits/MDN_1600.pdf') }}" class="btn btn-success" download><i class="fa-regular fa-file-pdf"></i> Télécharger le PDF</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">MDN 2000</h4>

            <img src="{{ asset('images/produits/ventilateurs_mobiles_mdn2000_brassair_la_reunion.jpg') }}" alt="" class="img-fluid rounded" />
            <p class="mt-2">Conçu pour être actionné par une seule personne, il garantit faible consommation et silence, grâce au moto-onduleur. Les quatre roues pneumatiques assurent la maniabilité sur n'importe quel terrain, ce qui en fait un outil efficace pour rafraîchir n'importe quel environnement intérieur et extérieur.</p>
            <ul class="mt-2">
              <li>Diam. 2,0m</li>

              <li>Ht totale 2,44m</li>

              <li>Mono ou Tri</li>
            </ul>

            <a href="{{ asset('pdfs/produits/MDN_2000.pdf') }}" class="btn btn-success" download><i class="fa-regular fa-file-pdf"></i> Télécharger le PDF</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-4">
        <img src="{{ asset('images/produits/FLOWER_FAN_PISCINE_BRASSAIR_REUNION.jpg') }}" alt="" class="img-fluid rounded" />
      </div>
      <div class="col-md-6 mb-4 align-content-center flower-fan-section text-center">
        <p class="mt-2 text-light">Le HVLS Flower Fan d'EVEL est un ventilateur d'extérieur au design innovant, conçu pour maximiser le confort en réduisant la sensation de chaleur humide et en éliminant les insectes nuisibles tels que les moustiques et les mouches. Avec son esthétique moderne et ses matériaux de qualité, le Flower Fan s'intègre parfaitement à tout aménagement extérieur. De plus, il assure une faible consommation d'énergie grâce à son moteur BRUSHLESS avec inverseur intégré.</p>
        <a href="{{ asset('pdfs/produits/FLOWER-FAN.pdf') }}" class="btn btn-success" download><i class="fa-regular fa-file-pdf"></i> Télécharger le PDF</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">FF3000</h4>

            <img src="{{ asset('images/produits/FLOWER_FAN_PLANTE_BRASSAIR_REUNION.jpg') }}" alt="" class="img-fluid rounded" />

            <ul class="mt-2">
              <li>Monophasé</li>

              <li>Conso 0,278 kW</li>

              <li>Diam. 3,0m</li>

              <li>Ht 3,50m</li>
              <li>Plusieurs configurations possibles</li>
            </ul>

            <a href="{{ asset('pdfs/produits/DOC_FLOWER_FAN.pdf') }}" class="btn btn-success" download><i class="fa-regular fa-file-pdf"></i> Télécharger le PDF</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">FF4000</h4>

            <img src="{{ asset('images/produits/FLOWER_FAN_SIEGE_BRASSAIR_REUNION.jpg') }}" alt="" class="img-fluid rounded" />

            <ul class="mt-2">
              <li>Monophasé</li>

              <li>Conso 0,23 kW</li>

              <li>Diam. 4,0m</li>

              <li>Ht 3,50m</li>
              <li>Plusieurs configurations possibles</li>
            </ul>

            <a href="{{ asset('pdfs/produits/DOC_FLOWER_FAN.pdf') }}" class="btn btn-success" download><i class="fa-regular fa-file-pdf"></i> Télécharger le PDF</a>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <h2>Ventilateurs Axiaux</h2>
    <div class="row">
      <div class="col-md-6 mb-4">
        <img src="{{ asset('images/produits/ventilateurs_axiaux_brassair_la_reunion.jpg') }}" alt="" class="img-fluid rounded" />
      </div>
      <div class="col-md-6 mb-4 align-content-center ventilateurs-axiaux-section text-center">
        <p class="mt-2 text-center text-light">Le ventilateur WA1400 a été développé spécifiquement pour le monde de l'élevage : volailles, porcs et bovins. En particulier, en ce qui concerne l'élevage bovin, il résout le problème des étables caractérisés par des plafonds bas qui, par nature, ne peuvent être équipées de déstratificateurs alors qu'elles ont besoin d'un mouvement d'air constant. Il a une structure modulaire avec deux modes de montage : « en version carrée », complet avec le boîtier, ou « en version circulaire », en ne montant que le convoyeur. Cela permet de l'installer au mur ou le long des allées au moyen de crochets à chaîne. Grâce à cette polyvalence, il est en mesure de répondre à tous les besoins des agriculteurs. L'idée innovante d'alimenter le ventilateur EVEL avec un moteur moderne à aimant permanent permet de réduire la consommation de 30 % et de diminuer le bruit grâce à l'absence de courroies et de motoréducteurs, ce qui le rend unique sur le marché traditionnel encore lié aux moteurs asynchrones, moins efficaces et plus bruyants.</p>
        <a href="{{ asset('pdfs/produits/SERIES_AXIAUX_WA.pdf') }}" class="btn btn-success" download><i class="fa-regular fa-file-pdf"></i> Télécharger le PDF</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">WA 1400-MAX</h4>

            <img src="{{ asset('images/produits/WA_1400_MAX_ETABLE_brassair_reunion.jpg') }}" alt="" class="img-fluid rounded" />
            <p class="mt-2">Le ventilateur axial WA1400-MAX, doté d'une grande portée, peut être monté au mur ou le long des voies d'alimentation, réduisant ainsi le nombre de machines nécessaires et optimisant les coûts. Alimenté par un moteur brushless avec inverseur intégré, il offre un fonctionnement silencieux et une très faible consommation, idéal pour les espaces de taille moyenne à grande.</p>
            <ul class="mt-2">
              <li>Diam. 1,40m</li>

              <li>Conso 1,46 kW</li>

              <li>Fort débit d'air</li>

              <li>Portée à 30m et +</li>
            </ul>

            <a href="{{ asset('pdfs/produits/WA_1400_MAX.pdf') }}" class="btn btn-success" download><i class="fa-regular fa-file-pdf"></i> Télécharger le PDF</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Série croisée 2,0m/2.5m</h4>

            <img src="{{ asset('images/produits/serie_croisee.jpg') }}" alt="" class="img-fluid rounded" />
            <p class="mt-2">La série Cross est fortement recommandée à la vente en combinaison avec les HVLS WF ou WZ . Conçu principalement pour le secteur de l'élevage, il est installé en correspondance avec le râtelier, à une hauteur supérieure à 2,7 mètres du sol s'il n'est pas protégé. Activé par un moteur BRUSHLESS avec inverseur intégré, il offre une efficacité énergétique élevée avec une faible consommation et est totalement silencieux lors du travail. Disponible en diamètres 2 et 2,5 m tous deux avec 3 pales.</p>
            <ul class="mt-2">
              <li>Diam. 2,0m et 2,50m</li>

              <li>Conso 0,40 et 0,93 kW</li>

              <li>Débit d'air élevé</li>

              <li>Grande modularité</li>
            </ul>

            <a href="{{ asset('pdfs/produits/SERIE_CROISEE.pdf') }}" class="btn btn-success" download><i class="fa-regular fa-file-pdf"></i> Télécharger le PDF</a>
          </div>
        </div>
      </div>
    </div>
    <hr />
    {# <h2>Ventilateurs Flower Fan</h2> #}
    {# <div class="row">
      <div class="col-md-6 mb-4">
        <img src="{{ asset('images/produits/FLOWER_FAN_PISCINE_BRASSAIR_REUNION.jpg') }}" alt="" class="img-fluid rounded" />
      </div>
      <div class="col-md-6 mb-4 align-content-center">
        <p class="mt-2">Le HVLS Flower Fan d'EVEL est un ventilateur d'extérieur au design innovant, conçu pour maximiser le confort en réduisant la sensation de chaleur humide et en éliminant les insectes nuisibles tels que les moustiques et les mouches. Avec son esthétique moderne et ses matériaux de qualité, le Flower Fan s'intègre parfaitement à tout aménagement extérieur. De plus, il assure une faible consommation d'énergie grâce à son moteur BRUSHLESS avec inverseur intégré.</p>
        <a href="{{ asset('pdfs/produits/FLOWER-FAN.pdf') }}" class="btn btn-success" download><i class="fa-regular fa-file-pdf"></i> Télécharger le PDF</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">FF3000</h4>

            <img src="{{ asset('images/produits/FLOWER_FAN_PLANTE_BRASSAIR_REUNION.jpg') }}" alt="" class="img-fluid rounded" />

            <ul class="mt-2">
              <li>Monophasé</li>

              <li>Conso 0,278 kW</li>

              <li>Diam. 3,0m</li>

              <li>Ht 3,50m</li>
              <li>Plusieurs configurations possibles</li>
            </ul>

            <a href="{{ asset('pdfs/produits/DOC_FLOWER_FAN.pdf') }}" class="btn btn-success" download><i class="fa-regular fa-file-pdf"></i> Télécharger le PDF</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">FF4000</h4>

            <img src="{{ asset('images/produits/FLOWER_FAN_SIEGE_BRASSAIR_REUNION.jpg') }}" alt="" class="img-fluid rounded" />

            <ul class="mt-2">
              <li>Monophasé</li>

              <li>Conso 0,23 kW</li>

              <li>Diam. 4,0m</li>

              <li>Ht 3,50m</li>
              <li>Plusieurs configurations possibles</li>
            </ul>

            <a href="{{ asset('pdfs/produits/DOC_FLOWER_FAN.pdf') }}" class="btn btn-success" download><i class="fa-regular fa-file-pdf"></i> Télécharger le PDF</a>
          </div>
        </div>
      </div>
    </div> #}

    {# {% if (products|length) > 0 %}
      <div class="row">
        {% for product in products %}
          <div class="col-md-6 mb-4">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">{{ product.title }}</h4>

                {% if product.image %}
                  <img src="{{ product.image }}" alt="" class="img-fluid rounded" />
                {% endif %}

                <ul class="list-unstyled mt-2">
                  {% if product.caracteristique1 %}
                    <li>
                      <strong>Caractéristique 1:</strong> {{ product.caracteristique1 }}
                    </li>
                  {% endif %}
                  {% if product.caracteristique2 %}
                    <li>
                      <strong>Caractéristique 2:</strong> {{ product.caracteristique2 }}
                    </li>
                  {% endif %}
                  {% if product.caracteristique3 %}
                    <li>
                      <strong>Caractéristique 3:</strong> {{ product.caracteristique3 }}
                    </li>
                  {% endif %}
                  {% if product.caracteristique4 %}
                    <li>
                      <strong>Caractéristique 4:</strong> {{ product.caracteristique4 }}
                    </li>
                  {% endif %}
                </ul>

                {% if product.pdfName %}
                  <a href="{{ asset('pdfs/produits/' ~ product.pdfName) }}" class="btn btn-success" download><i class="fa-regular fa-file-pdf"></i> Télécharger le PDF</a>{% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_product_edit', { id: product.id }) }}" class="btn btn-warning ms-2">Modifier</a>
                  {% endif %}
                {% else %}
                  <p>Aucun PDF disponible pour ce produit.</p>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <p>Aucun produit disponible pour le moment.</p>
    {% endif %} #}
    {% include 'contact_bar.html.twig' %}
  </div>
  <div class="d-none d-lg-block">
    {% include 'footer.html.twig' %}
  </div>

  <div class="d-block d-lg-none">
    {% include 'footer_md.html.twig' %}
  </div>
{% endblock %}
