{# Listing des produits pour les visiteurs #}
{% extends 'base.html.twig' %}

{% block title %}
  Liste des Produits
{% endblock %}

{% block body %}
  <div class="bandeau-promo">
    {% if product_offer is not null %}
      <p>
        {{ product_offer.title }}
        -
        {{ product_offer.message1 }}
        -
        {{ product_offer.message2 }}
        -
        {{ product_offer.message3 }}
        -
        <a href="{{ path('app_product_offer_visitors', { slug: product_offer.slug }) }}">VOIR L'OFFRE</a>
      </p>
    {% else %}
      <p>Pas d'offre disponible pour le moment.</p>
    {% endif %}
  </div>
  <div class="d-none d-lg-block">
    {% include 'navbar_visitors_lg.html.twig' %}
  </div>

  <div class="d-block d-lg-none">
    {% include 'navbar_visitors_md.html.twig' %}
  </div>
  <div class="container mt-4">
    <h1 class="mb-4 text-center">Nos Produits de Ventilation</h1>

    <h2>Ventilateurs HVLS</h2>
    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Série WZ</h4>

            <img src="{{ asset('images/produits/5-0m-plalada-pierrefonds-2-66baeb1f52341558349299.jpg') }}" alt="" class="img-fluid rounded" />

            <p class="mt-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa, odio vero! Voluptates voluptate dicta minima deserunt? Saepe exercitationem, laborum vel temporibus tempora delectus perspiciatis placeat, ea tempore dolorum alias obcaecati.</p>

            <a href="{{ asset('pdfs/produits/240619-hvls-evel-wd-66cd49ad76ed3241080403.pdf') }}" class="btn btn-success" download><i class="fa-regular fa-file-pdf"></i> Télécharger le PDF</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Série WD</h4>

            <img src="{{ asset('images/produits/5-0m-plalada-pierrefonds-2-66baeb1f52341558349299.jpg') }}" alt="" class="img-fluid rounded" />

            <p class="mt-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa, odio vero! Voluptates voluptate dicta minima deserunt? Saepe exercitationem, laborum vel temporibus tempora delectus perspiciatis placeat, ea tempore dolorum alias obcaecati.</p>

            <a href="{{ asset('pdfs/produits/240619-hvls-evel-wd-66cd49ad76ed3241080403.pdf') }}" class="btn btn-success" download><i class="fa-regular fa-file-pdf"></i> Télécharger le PDF</a>
          </div>
        </div>
      </div>
    </div>

    <h2>Ventilateurs Mobiles</h2>
    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">WA1400 FIT</h4>

            <img src="{{ asset('images/produits/5-0m-plalada-pierrefonds-2-66baeb1f52341558349299.jpg') }}" alt="" class="img-fluid rounded" />

            <ul class="list-unstyled mt-2">
              <li>
                <strong>Caractéristique 1:</strong> lorem ipsum
              </li>

              <li>
                <strong>Caractéristique 2:</strong> lorem ipsum
              </li>

              <li>
                <strong>Caractéristique 3:</strong> lorem ipsum
              </li>

              <li>
                <strong>Caractéristique 4:</strong> lorem ipsum
              </li>
            </ul>

            <a href="{{ asset('pdfs/produits/240619-hvls-evel-wd-66cd49ad76ed3241080403.pdf') }}" class="btn btn-success" download><i class="fa-regular fa-file-pdf"></i> Télécharger le PDF</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">MDN 1600</h4>

            <img src="{{ asset('images/produits/5-0m-plalada-pierrefonds-2-66baeb1f52341558349299.jpg') }}" alt="" class="img-fluid rounded" />

            <ul class="list-unstyled mt-2">
              <li>
                <strong>Caractéristique 1:</strong> lorem ipsum
              </li>

              <li>
                <strong>Caractéristique 2:</strong> lorem ipsum
              </li>

              <li>
                <strong>Caractéristique 3:</strong> lorem ipsum
              </li>

              <li>
                <strong>Caractéristique 4:</strong> lorem ipsum
              </li>
            </ul>

            <a href="{{ asset('pdfs/produits/240619-hvls-evel-wd-66cd49ad76ed3241080403.pdf') }}" class="btn btn-success" download><i class="fa-regular fa-file-pdf"></i> Télécharger le PDF</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">MDN 2000</h4>

            <img src="{{ asset('images/produits/5-0m-plalada-pierrefonds-2-66baeb1f52341558349299.jpg') }}" alt="" class="img-fluid rounded" />

            <ul class="list-unstyled mt-2">
              <li>
                <strong>Caractéristique 1:</strong> lorem ipsum
              </li>

              <li>
                <strong>Caractéristique 2:</strong> lorem ipsum
              </li>

              <li>
                <strong>Caractéristique 3:</strong> lorem ipsum
              </li>

              <li>
                <strong>Caractéristique 4:</strong> lorem ipsum
              </li>
            </ul>

            <a href="{{ asset('pdfs/produits/240619-hvls-evel-wd-66cd49ad76ed3241080403.pdf') }}" class="btn btn-success" download><i class="fa-regular fa-file-pdf"></i> Télécharger le PDF</a>
          </div>
        </div>
      </div>
    </div>

    <h2>Ventilateurs Axiaux</h2>
    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">WA 1400-MAX</h4>

            <img src="{{ asset('images/produits/5-0m-plalada-pierrefonds-2-66baeb1f52341558349299.jpg') }}" alt="" class="img-fluid rounded" />

            <ul class="list-unstyled mt-2">
              <li>
                <strong>Caractéristique 1:</strong> lorem ipsum
              </li>

              <li>
                <strong>Caractéristique 2:</strong> lorem ipsum
              </li>

              <li>
                <strong>Caractéristique 3:</strong> lorem ipsum
              </li>

              <li>
                <strong>Caractéristique 4:</strong> lorem ipsum
              </li>
            </ul>

            <a href="{{ asset('pdfs/produits/240619-hvls-evel-wd-66cd49ad76ed3241080403.pdf') }}" class="btn btn-success" download><i class="fa-regular fa-file-pdf"></i> Télécharger le PDF</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Série croisée 2,0m</h4>

            <img src="{{ asset('images/produits/5-0m-plalada-pierrefonds-2-66baeb1f52341558349299.jpg') }}" alt="" class="img-fluid rounded" />

            <ul class="list-unstyled mt-2">
              <li>
                <strong>Caractéristique 1:</strong> lorem ipsum
              </li>

              <li>
                <strong>Caractéristique 2:</strong> lorem ipsum
              </li>

              <li>
                <strong>Caractéristique 3:</strong> lorem ipsum
              </li>

              <li>
                <strong>Caractéristique 4:</strong> lorem ipsum
              </li>
            </ul>

            <a href="{{ asset('pdfs/produits/240619-hvls-evel-wd-66cd49ad76ed3241080403.pdf') }}" class="btn btn-success" download><i class="fa-regular fa-file-pdf"></i> Télécharger le PDF</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Série croisée 2,5m</h4>

            <img src="{{ asset('images/produits/5-0m-plalada-pierrefonds-2-66baeb1f52341558349299.jpg') }}" alt="" class="img-fluid rounded" />

            <ul class="list-unstyled mt-2">
              <li>
                <strong>Caractéristique 1:</strong> lorem ipsum
              </li>

              <li>
                <strong>Caractéristique 2:</strong> lorem ipsum
              </li>

              <li>
                <strong>Caractéristique 3:</strong> lorem ipsum
              </li>

              <li>
                <strong>Caractéristique 4:</strong> lorem ipsum
              </li>
            </ul>

            <a href="{{ asset('pdfs/produits/240619-hvls-evel-wd-66cd49ad76ed3241080403.pdf') }}" class="btn btn-success" download><i class="fa-regular fa-file-pdf"></i> Télécharger le PDF</a>
          </div>
        </div>
      </div>
    </div>

    <h2>Ventilateurs Flower Fan</h2>
    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">FF3000</h4>

            <img src="{{ asset('images/produits/5-0m-plalada-pierrefonds-2-66baeb1f52341558349299.jpg') }}" alt="" class="img-fluid rounded" />

            <ul class="list-unstyled mt-2">
              <li>
                <strong>Caractéristique 1:</strong> lorem ipsum
              </li>

              <li>
                <strong>Caractéristique 2:</strong> lorem ipsum
              </li>

              <li>
                <strong>Caractéristique 3:</strong> lorem ipsum
              </li>

              <li>
                <strong>Caractéristique 4:</strong> lorem ipsum
              </li>
            </ul>

            <a href="{{ asset('pdfs/produits/240619-hvls-evel-wd-66cd49ad76ed3241080403.pdf') }}" class="btn btn-success" download><i class="fa-regular fa-file-pdf"></i> Télécharger le PDF</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">FF4000</h4>

            <img src="{{ asset('images/produits/5-0m-plalada-pierrefonds-2-66baeb1f52341558349299.jpg') }}" alt="" class="img-fluid rounded" />

            <ul class="list-unstyled mt-2">
              <li>
                <strong>Caractéristique 1:</strong> lorem ipsum
              </li>

              <li>
                <strong>Caractéristique 2:</strong> lorem ipsum
              </li>

              <li>
                <strong>Caractéristique 3:</strong> lorem ipsum
              </li>

              <li>
                <strong>Caractéristique 4:</strong> lorem ipsum
              </li>
            </ul>

            <a href="{{ asset('pdfs/produits/240619-hvls-evel-wd-66cd49ad76ed3241080403.pdf') }}" class="btn btn-success" download><i class="fa-regular fa-file-pdf"></i> Télécharger le PDF</a>
          </div>
        </div>
      </div>
    </div>

    {# {% if (products|length) > 0 %}
      <div class="row">
        {% for product in products %}
          <div class="col-md-6 mb-4">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">{{ product.title }}</h4>

                {% if product.image %}
                  <img src="{{ product.image }}" alt="" class="img-fluid rounded" />
                {% endif %}

                <ul class="list-unstyled mt-2">
                  {% if product.caracteristique1 %}
                    <li>
                      <strong>Caractéristique 1:</strong> {{ product.caracteristique1 }}
                    </li>
                  {% endif %}
                  {% if product.caracteristique2 %}
                    <li>
                      <strong>Caractéristique 2:</strong> {{ product.caracteristique2 }}
                    </li>
                  {% endif %}
                  {% if product.caracteristique3 %}
                    <li>
                      <strong>Caractéristique 3:</strong> {{ product.caracteristique3 }}
                    </li>
                  {% endif %}
                  {% if product.caracteristique4 %}
                    <li>
                      <strong>Caractéristique 4:</strong> {{ product.caracteristique4 }}
                    </li>
                  {% endif %}
                </ul>

                {% if product.pdfName %}
                  <a href="{{ asset('pdfs/produits/' ~ product.pdfName) }}" class="btn btn-success" download><i class="fa-regular fa-file-pdf"></i> Télécharger le PDF</a>{% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_product_edit', { id: product.id }) }}" class="btn btn-warning ms-2">Modifier</a>
                  {% endif %}
                {% else %}
                  <p>Aucun PDF disponible pour ce produit.</p>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <p>Aucun produit disponible pour le moment.</p>
    {% endif %} #}
    {% include 'contact_bar.html.twig' %}
  </div>
  <div class="d-none d-lg-block">
    {% include 'footer.html.twig' %}
  </div>

  <div class="d-block d-lg-none">
    {% include 'footer_md.html.twig' %}
  </div>
{% endblock %}
