{% extends 'base.html.twig' %}

{% block title %}{{ kitchen.title }}
{% endblock %}

{% block body %}
	<div class="bandeau-promo">
		{% if product_offer is not null %}
			<p>{{ product_offer.title }}
				-
				{{ product_offer.message1 }}
				-
				{{ product_offer.message2 }}
				-
				{{ product_offer.message3 }}
				-
				<a href="{{ path('app_product_offer_visitors', {'slug': product_offer.slug}) }}">VOIR L'OFFRE</a>
			</p>
		{% else %}
			<p>Pas d'offre disponible pour le moment.</p>
		{% endif %}
	</div>
	<div class="d-none d-lg-block">
		{% include 'navbar_visitors_lg.html.twig' %}
	</div>

	<div class="d-block d-lg-none">
		{% include 'navbar_visitors_md.html.twig' %}
	</div>

	<div class="kitchen-page-section text-white px-5 py-5" id="dynamic-hero-kitchenpage-background">
		<h1 class="wow fadeInUp" data-wow-delay="0.1s">{{ kitchen.title }}</h1>
	</div>

	<div class="row mt-5 px-3">
		<div class="col-lg-4 col-md-12 rounded mb-5 d-flex justify-content-center align-items-center">
			<div class="card" style="width: 90%;">
				<img src="{{ kitchen.image1 }}" class="card-img-top" alt="...">
				<div class="card-body">
					<h1 class="card-title">{{ kitchen.title }}</h1>
					<p class="card-text">{{ kitchen.description }}</p>
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">{{ kitchen.message1 }}</li>
					<li class="list-group-item">{{ kitchen.message2 }}</li>
					<li class="list-group-item">{{ kitchen.message3 }}</li>
				</ul>
				<div class="card-body">
					<p class="h2-style">Robert Cuisines - Maître Artisan</p>
				</div>
			</div>
		</div>

		<div class="col-lg-8 col-md-12 d-flex justify-content-center">
			<div id="carouselKitchenImage" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img src="{{ kitchen.image1 }}" class="d-block w-100 rounded" alt="image 1">
					</div>
					{% if kitchen.image2 %}
						<div class="carousel-item">
							<img src="{{ kitchen.image2 }}" class="d-block w-100 rounded" alt="image 2">
						</div>
					{% endif %}
					{% if kitchen.image3 %}
						<div class="carousel-item">
							<img src="{{ kitchen.image3 }}" class="d-block w-100 rounded" alt="image 3">
						</div>
					{% endif %}
					{% if kitchen.image4 %}
						<div class="carousel-item">
							<img src="{{ kitchen.image4 }}" class="d-block w-100 rounded" alt="image 4">
						</div>
					{% endif %}
					{% if kitchen.image5 %}
						<div class="carousel-item">
							<img src="{{ kitchen.image5 }}" class="d-block w-100 rounded" alt="image 5">
						</div>
					{% endif %}

				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselKitchenImage" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Précédent</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselKitchenImage" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Suivant</span>
				</button>
			</div>
		</div>
	</div>
	{% include 'contact_bar.html.twig' %}
	{% include 'footer.html.twig' %}
{% endblock %}
{% block javascripts %}

	<script>
		// ajout image 1 hero section
document.addEventListener('DOMContentLoaded', function () {
var imageUrl = "{{ kitchen.mainImage }}"; // Récupère l'URL de l'image depuis Twig
var heroSection = document.getElementById('dynamic-hero-kitchenpage-background');

// Définit l'image de fond
heroSection.style.backgroundImage = 'url(' + imageUrl + ')';
heroSection.style.backgroundSize = 'cover';
heroSection.style.backgroundPosition = 'center';
heroSection.style.minHeight = '650px';
// Transformer l'élément en conteneur flex
heroSection.style.display = 'flex';

// Appliquer les styles flexbox
heroSection.style.justifyContent = 'center';
heroSection.style.alignItems = 'center';
});
	</script>
{% endblock %}
