<!DOCTYPE html>
<html>
	<!-- Footer -->
	{% block footer %}
		<footer
			class="text-center text-lg-start bg-light text-muted py-2">

			<!-- Section: Links  -->
			<section class="">
				<div
					class="container text-center text-md-start mt-5">
					<!-- Grid row -->
					<div
						class="row mt-3">
						<!-- Grid column -->
						<div
							class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
							<!-- Content -->
							<h5 class="text-uppercase fw-bold mb-4">
								<i class="fa-solid fa-mountain-sun me-3"></i>Robert Cuisines
							</h5>
							<p>
								Robert Cuisines est une entreprise réunionnaise qui fabrique des cuisines, des meubles de rangement et de salle de bain. Nous avons un showroom et un atelier de fabrication au Tampon.
							</p>
						</div>
						<!-- Grid column -->

						<!-- Grid column -->
						<div
							class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
							<!-- Links -->
							<h5 class="text-uppercase fw-bold mb-4">
								Nos cuisines
							</h5>
							<p>
								<a href="#" class="text-reset">Cuisine 1</a>
							</p>
							<p>
								<a href="#" class="text-reset">Cuisine 2</a>
							</p>
							<p>
								<a href="#" class="text-reset">Cuisine 3</a>
							</p>
							<p>
								<a href="#" class="text-reset">Cuisine 4</a>
							</p>
						</div>
						<!-- Grid column -->

						<!-- Grid column -->
						<div
							class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
							<!-- Links -->
							<h5 class="text-uppercase fw-bold mb-4">
								Liens
							</h5>
							<p>
								<a href="{{ path('app_product_offer_visitors', {'slug': product_offer.slug}) }}" class="text-reset">{{ product_offer.title }}</a>
							</p>
							<p>
								<a type="button" class="nav-link mb-3" data-bs-toggle="modal" data-bs-target="#telModalSm">
								Informations
								</a>
							</p>
						<!-- Button trigger modal location-->
						<a type="button" class="nav-link" data-bs-toggle="modal" data-bs-target="#locationModalSm">
								Nous trouver
						</a>

						<!-- Modal adresse-->
						<div class="modal fade" id="locationModalSm" tabindex="-1" aria-labelledby="locationModalSmLabel" aria-hidden="true">
							<div class="modal-dialog modal-sm">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="locationModalSmLabel">Adresse du showroom</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">
										<p>{{ contact.address }}</p>
										<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7437.288754750737!2d55.512681927143014!3d-21.245946076612515!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2178754d36d32169%3A0xb4116f0fe53d7f60!2sROBERT%20CUISINES!5e0!3m2!1sen!2sfr!4v1701319147952!5m2!1sen!2sfr" width="770" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
									</div>
									<div class="modal-footer">
										<p class="p-style">Robert Cuisines</p>
									</div>
								</div>
							</div>
						</div>
						</div>
						<!-- Grid column -->

						<!-- Grid column -->
						<div
							class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
							<!-- Links -->
							<h5 class="text-uppercase fw-bold mb-4">Contact</h5>
							<p>
								<i class="fas fa-home me-3"></i>
								21 Chemin Leroy, Tampon, 97430</p>
							<p>
								<i class="fas fa-envelope me-3"></i>
								robertcuisines@orange.fr
							</p>
							<p>
								<i class="fas fa-phone me-3"></i>
								0692 86 77 45</p>
							<p>
								<i class="fab fa-facebook-f me-3"></i>
								<a href="https://www.facebook.com/robertcuisinesreunion">Suivez-nous sur Facebook</a>
							</p>
						</div>
						<!-- Grid column -->
					</div>
					<!-- Grid row -->
				</div>
			</section>
			<!-- Section: Links  -->
		</footer>

		<!-- Copyright -->
		<div class="text-center p-4 bg-footer">
			<small>
				&copy 2024
				<a href="{{path('app_homepage_visitors')}}" class="me-3">
					Robert Cuisines</a>
				<a href="{{path('app_mentions_legales')}}" class="me-3">Mentions légales
				</a>
				<a href="{{path('app_politique_confidentialite')}}" class="me-3">Politique de confidentialité
				</a>
				<a href="https://contenucreation.fr/">
					Site développé par Anthony Etheve</a>
			</small>

		</div>
		<!-- Copyright -->
		<!-- Footer -->
	{% endblock %}


</html>
