<!DOCTYPE html>
<html>
  <!-- Footer -->
  {% block footer %}
    <footer class="text-center text-lg-start bg-light text-muted py-2">
      <!-- Section: Links -->
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h5 class="text-uppercase fw-bold mb-4"><i class="fa-solid fa-fan me-2"></i>Brass'Air</h5>
              <p>Brass'Air est à la Réunion un acteur clé dans le domaine de la ventilation industrielle, reconnu pour sa capacité à fournir des solutions complètes, innovantes et sur mesure, tout en garantissant des standards élevés de qualité et de performance.</p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h5 class="text-uppercase fw-bold mb-4">Nos produits</h5>
              <p>
                <a href="{{ path('app_application_industrie_show') }}" class="text-reset">Industrie</a>
              </p>
              <p>
                <a href="{{ path('app_application_animal_show') }}" class="text-reset">Bien-être animal</a>
              </p>
              <p>
                <a href="{{ path('app_application_commercial_show') }}" class="text-reset">Commercial</a>
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h5 class="text-uppercase fw-bold mb-4">Liens</h5>
              <p>
                <a href="{{ path('app_product_offer_visitors', { slug: product_offer.slug }) }}" class="text-reset">{{ product_offer.title }}</a>
              </p>
              <p>
                <a href="{{ path('app_contact_form_new') }}" class="nav-link me-3">Envoyer un message</a>
              </p>
              <p>
                <a type="button" class="nav-link me-3" data-bs-toggle="modal" data-bs-target="#locationModal">Nous trouver sur la carte</a>
              </p>
              <p>
                <a type="button" class="nav-link me-3" data-bs-toggle="modal" data-bs-target="#horaireModal">Nos horaires</a>
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h5 class="text-uppercase fw-bold mb-4">Contact</h5>
              <p>
                <i class="fas fa-home me-3"></i>
                2284, Chemin Patelin, 97440, Saint-André
              </p>
              <p>
                <i class="fas fa-envelope me-3"></i>
                noel.baillif@brassair.re
              </p>
              <p>
                <i class="fas fa-phone me-3"></i>
                0692 82 51 28
              </p>
              <p>
                <i class="fab fa-facebook-f me-3"></i>
                <a href="https://www.facebook.com">Suivez-nous sur Facebook</a>
              </p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links -->
    </footer>

    <!-- Copyright -->
    <div class="text-center p-4 bg-footer">
      <small>
        &copy 2024
        <a href="{{ path('app_homepage_visitors') }}" class="nav-footer-small me-3">Brass'Air</a>
        <a href="{{ path('app_mentions_legales') }}" class="nav-footer-small me-3">Mentions légales</a>
        <a href="{{ path('app_politique_confidentialite') }}" class="nav-footer-small me-3">Politique de confidentialité</a>
        <a href="https://contenucreation.fr/" class="nav-footer-small me-3">Site développé par Anthony Etheve</a>
      </small>
    </div>
    <!-- Copyright -->
    <!-- Footer -->
  {% endblock %}
</html>
