<!DOCTYPE html>
<html>

	{% block navbar_visitors %}
		<div class="navcolor mb-3">
			<div class="container">
				<nav class="navbar navbar-expand-lg navbar-light">
					<div class="container-fluid">
						<a class="navbar-brand text-white" href="{{path('main')}}">
							<img src="{{ asset('images/logo_capture_ecran_boeuf_moka.PNG')}}" alt="" width="100" height="100" class="img-logo">
						</a>
						<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon">
								<i class="fa-solid fa-bars"></i>
							</span>
						</button>
						<div class="collapse navbar-collapse justify-content-center text-center" id="navbarNav">
							<ul class="navbar-nav">
								<li class="nav-item">
									<a class="nav-link text-white me-3" href="{{path('main')}}">Accueil</a>
								</li>
								<li class="nav-item">
									<a class="nav-link text-white me-3" href="{{path('app_ecole_marron')}}">École Marron</a>
								</li>
								<li class="nav-item">
									<a class="nav-link text-white me-3" href="{{path('app_grand_public')}}">Grand Public</a>
								</li>
								<li class="nav-item">
									<a class="nav-link text-white me-3" href="{{path('app_plan3_i')}}">Illetrisme</a>
								</li>
								<li class="nav-item">
									<a class="nav-link text-white me-3" href="{{path('app_contact_form_new')}}">Contact</a>
								</li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</div>

	{% endblock %}

</html>
