<!DOCTYPE html>
<html>
  {% block navbar_lg_admin %}
    <div class="row navcolor px-lg-5 py-3">
      <div class="col-lg-2 d-flex justify-content-start">
        <a class="navbar-brand" href="{{ path('app_homepage_visitors') }}"><img src="{{ contact.logoImage }}" alt="" class="img-logo logo-hover" /></a>
      </div>

      <div class="col-lg-8 d-flex justify-content-center align-items-center">
        <ul class="navbar-nav d-flex flex-row">
          <li class="nav-item dropdown me-3">
            <a class="nav-link dropdown-toggle fw-bold" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Applications</a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item dropdown-item-hover" href="{{ path('app_application_industrie_show') }}">Industrie</a>
              </li>
              <li>
                <a class="dropdown-item dropdown-item-hover" href="{{ path('app_application_animal_show') }}">Bien-être animal</a>
              </li>
              <li>
                <a class="dropdown-item dropdown-item-hover" href="{{ path('app_application_commercial_show') }}">Commercial</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link me-3 fw-bold menu-item" href="#">Produits</a>
          </li>
          <li class="nav-item">
            <a class="nav-link me-3 fw-bold menu-item" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link me-3 fw-bold menu-item" href="#">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link me-3 fw-bold menu-item" href="#">Contact</a>
          </li>
        </ul>
      </div>

      <div class="col-lg-2 d-flex justify-content-end align-items-center">
        <ul class="navbar-nav d-flex flex-row">
          {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-item">
              <a class="nav-link me-3 fw-bold menu-item" href="{{ path('app_admin_page') }}">Admin</a>
            </li>
          {% endif %}
          <li class="nav-item mt-2">
            <i class="fa-solid fa-mobile"></i> 0692 82 51 28
          </li>
        </ul>
      </div>
    </div>
  {% endblock %}
</html>
